body{

  
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color:
    rgb(51, 51, 51) 
    rgb(51, 51, 51);
    line-height: 1.6;

    margin: 0;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
}
*::before
*::after
*{
    box-sizing: border-box;
}

.header {
    background-color: rgba(0,0,0,0.2);
    width: 100%;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner{
   
    display: flex;
    justify-content:  center;
    align-items: center;
    
}

.header__logo{
    font-size: 30px;
    color: 
    rgb(255, 255, 255);
}

nav{
    width: 70vw;
     display: flex;
     background-color:#ffff00;
     padding: 20px;
     border-radius: 15px;
     justify-content: center;
    margin: auto;
     align-items: center;
     margin-bottom: 180px ;
     margin-top: 0px;
 
     
 }
 
 
 .nav__link{
    color:#2e3b38;
 text-decoration: none;
 padding: 0 25px;
 font-weight: 600;
 font-size: 20px;
 margin: auto;
 }
 
 .nav__link:hover {
    color: 
    rgb(210, 47, 231);
}
 
 @media screen and (max-width:600px){
     nav{
         max-width: 100%;
         flex-direction: column;
          
     }
     .nav__link{
         padding: 20px 30px;
     }
     
     
     
    
 }

.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background-color: rgb(246, 206, 106);

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
.nav__link:hover {
    color: 
        rgb(210, 47, 231);

}
 .nav__link:hover:after {
    display: block;
 }

 .container {
    width: 100%;
    max-width:  1200px;
    margin: 0 auto;
}
.team{
    margin: 100px 0;
}

.team__inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.team__item{
    width: 25%;
    padding: 0 15px ;

}
.team__photo{
    display: block ;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.team__name{
    margin-bottom: 8px;
    font-size: 22px;
    color: #2d3033;
}

.team__prof{
    font-size: 13px;
    color: tomato;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.team__text{
    font-size: 14px;
    line-height: 1.25;
    color: dimgrey;
}


#p9
{
    margin-left: 110px;
    margin-top: 50px;
}

@media screen and (max-width: 600px){

    #s2 {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -200px;
    }

    .team {
        margin: 10px 0;
    }
    .team__inner {
        display: block;
    }
    .team__item {
        width: 100%;
        padding: 30px 50px;
    }

    .question {
        margin-top: 100px;
        margin-left: 0px;
    }
}