body{

  
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color:
    rgb(51, 51, 51) 
    rgb(51, 51, 51);
    line-height: 1.6;

    margin: 0;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
}
*::before
*::after
*{
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width:  1200px;
    margin: 0 auto;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    background: url("../images/BIM1.jpg")center no-repeat;
    background-size: cover;
}

.intro__inner{
    width: 100%;
    max-width: 880px;
    margin:0 auto;

    text-align: center;
}
.intro__title{
    color: 
    rgb(255, 255, 255);
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro__title:after{
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background-color: 
    rgb(255, 255, 255);

    margin: 60px auto ;



}

.intro__suptitle{
    margin-bottom: 20px;
    font-size:50px;
    color: 
    rgb(246, 206, 106);
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

.header {
    background-color: rgba(0,0,0,0.2);
    width: 100%;
 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner{
    
    display:flex;
    justify-content:center;
    align-items: center;
    
}

.header__logo{
    font-size: 30px;
    color: 
    rgb(255, 255, 255);
}

nav{
    width: 70vw;
     display: flex;
    background-color:  rgb(246, 206, 106);
     padding: 20px;
     border-radius: 15px;
     justify-content: center;
    margin: auto;
     align-items: center;
     margin-bottom: 180px ;
     margin-top: 0px;
    opacity: 0.8;
    

     
 }
 
 
 .nav__link{
    color:#2e3b38;
 text-decoration: none;
 padding: 0 25px;
 font-weight: 600;
 font-size: 20px;
 margin: auto;
 }
 
 
 
 
 @media screen and (max-width:600px){
     nav{
         max-width: 100%;
         flex-direction: column;
          
     }
     .nav__link{
         padding: 20px 30px;
     }
     .nav >a{
      padding-top: 5px;
      padding-bottom: 5px;
     }
     
     
    
 }

.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background-color: rgb(246, 206, 106);

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
.nav__link:hover {
    color: 
    rgb(19, 14, 1)
}
 .nav__link:hover:after {
    display: block;
 }

 .btn {
     display: inline-block;
     vertical-align: top;
     padding: 8px 30px;
     border: 3px solid rgb(255, 255, 255);

     color: rgb(255, 255, 255);
     font-size: 14px;
     font-weight: 700;

     text-transform: uppercase;
     text-decoration: none;
 }

 .btn :hover{
     background-color: rgb(255, 255, 255);
     color: #333;
 }

 .theme{
    color: rgb(255, 255, 255);
 }

 .section{
     padding: 80px 0;
 }
 .section__header{
     margin-bottom: 40px;
     max-width: 950px;
     margin: 0 auto 40px;
     margin-bottom: 40px;
    text-align: center;
    }
    
.section__suptitle{
    font-size: 24px;
    color: black;
    font-family: 'Kaushan Script', cursive;

}
.section__title{
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

.section__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 0;
    background-color:
    rgb(233, 1, 1)
}


.btn2__pos{
    text-align: center;
}

.btn2{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 8px 15px;
    border: 2px solid 
rgb(0, 0, 0);

    margin-top: 30px;
    color: 
    rgb(0, 0, 0);
    text-transform: uppercase;
    font-style: 14px;
    font-weight: 700; 
    text-decoration: none;
}

.btn2 :hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.presidents{
    margin-top: 100px;
    margin-bottom: 40px;
     max-width: 950px;
     margin: 0 auto 40px;
     margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

/*box*/
*,
*:after
*:before{
    box-sizing: border-box;
}
.container{
    width: 100% ;
    max-width: 1200px;
    margin: 0 auto;
    padding:  0 15px;
}
@media screen and (max-width: 600px){
    .header{
        width: 100%;
    }
    .intro{
        width: 100%;
    }
    .intro__title {
        font-size: 32px;
    }    
    .section__title {
        padding: 0px
    }
    .team__inner {
        display: block;
    }
}
.video
{
   display: flex;
   justify-content: center;
   align-items: center;
}
.audio
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   
}
.object
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    